---
// src/components/Services/ServiceCard.astro
import "../../styles/Services/ServiceCard/StyleSheet.css";
export interface Props {
  href: string;
  icon: string;
  title: string;
  description: string;
  features: string[];
}

const { href, icon, title, description, features } = Astro.props;
---

<div class="service-card">
  <a href={href}>
    <div class="service-icon" set:html={icon} />
    <h3>{title}</h3>
    <p>{description}</p>
    <ul class="service-features">
      {features.map((feature) => <li>{feature}</li>)}
    </ul>
  </a>
</div>
