---
// components/WorkingSteps.astro
import StepItem from "./DevelopmentStepItem.astro";
import "../../styles/Development/DevelopmentWorkingSteps/StyleSheet.css";

export interface Step {
  title: string;
  description: string;
  icon: string;
  viewBox: string;
  showAppButton?: boolean;
}

export interface Props {
  steps: Step[];
  link: string; // Android link
  iosLink: string; // iOS link
  path: string;
  download_text_1?: string;
  download_text_2?: string;
  download_text_3?: string;
  download_text_4?: string;
  path_ios?: string; // iOS path, if different
}

const {
  steps,
  link,
  iosLink,
  path,
  download_text_1,
  path_ios,
  download_text_2,
  download_text_3,
  download_text_4,
} = Astro.props;
---

<div class="steps-container">
  {
    steps.map((step) => (
      <StepItem
        title={step.title}
        description={step.description}
        icon={step.icon}
        viewBox={step.viewBox}
        link={link}
        iosLink={iosLink}
        path={path}
        download_text_1={download_text_1}
        download_text_2={download_text_2}
        download_text_3={download_text_3}
        download_text_4={download_text_4}
        showAppButton={step.showAppButton}
        path_ios={path_ios}
      />
    ))
  }
</div>
