---
import FeaturesHeader from "./Features/FeaturesHeader.astro";
import FeaturesGrid from "./Features/FeaturesGrid.astro";
import FeatureDetails from "./Features/FeatureDetails.astro";
import "../styles/Features/StyleSheet.css";
interface Feature {
  icon: string;
  title: string;
  description: string;
  link: string;
}

interface FeatureDetail {
  id: string;
  icon: string;
  title: string;
  content: string[];
  link: string;
}

interface Props {
  title_header: string;
  description_header: string;
  features: Feature[];
  features_text_icon: string;
  features_text: string;
  details: FeatureDetail[];
}

const {
  title_header,
  description_header,
  features,
  features_text_icon,
  features_text,
  details,
} = Astro.props as Props;
---

<section id="features" class="features">
  <div class="features-container">
    <FeaturesHeader title={title_header} description={description_header} />
    <FeaturesGrid
      features={features}
      text_icon={features_text_icon}
      text={features_text}
    />
  </div>
</section>

<div id="features">
  <FeatureDetails details={details} />
</div>
