---
import "../../styles/Features/FeatureItem/StyleSheet.css";
const {
  icon,
  title,
  description,
  link,
  delay = 100,
  text,
  text_icon,
} = Astro.props;
---

<div class="feature-item" data-aos="fade-up" data-delay={delay}>
  <div class="feature-icon-wrapper">
    <div class="feature-icon">{icon}</div>
    <div class="icon-glow"></div>
  </div>
  <h3>{title}</h3>
  <p>{description}</p>
  <a href={link} class="feature-link">
    <span>{text}</span>
    <svg
      class="link-arrow"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
    >
      <path d={text_icon}></path>
    </svg>
  </a>
</div>
