---
import FeatureItem from "./FeatureItem.astro";
import "../../styles/Features/FeaturesGrid/StyleSheet.css";

interface Feature {
  icon: string;
  title: string;
  description: string;
  link: string;
}

interface Props {
  features: Feature[];
  text_icon: string;
  text: string;
}

const { features, text_icon, text } = Astro.props as Props;
---

<div class="features-grid">
  {
    features.map((feature: Feature, index: number) => (
      <FeatureItem
        icon={feature.icon}
        title={feature.title}
        description={feature.description}
        link={feature.link}
        delay={(index + 1) * 100}
        text={text}
        text_icon={text_icon}
      />
    ))
  }
</div>
