---
import "../../styles/Features/FeaturesDetail/StyleSheet.css";
import DetailItem from "./DetailItem.astro";
interface detail {
  id: string;
  title: string;
  content: string[];
  link: string;
  icon: string;
}
interface Props {
  details: detail[];
}
const { details } = Astro.props as Props;
---

<section class="features-section">
  <div class="features-center-container">
    <div class="features-columns">
      {
        details.map((detail, index) => (
          <DetailItem
            id={detail.id}
            icon={detail.icon}
            title={detail.title}
            content={detail.content}
            link={detail.link}
            index={index}
          />
        ))
      }
    </div>
  </div>
</section>
